body{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 45px;
    text-align: center;
    font-weight:900;
}
.top-banner{
    color: white;
    padding-top: 274px;
    padding-bottom: 175px;
    padding-left: 357px;
    padding-right: 357px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-weight: 900;
    margin: 0px;
    text-align: center;
}
#top-2{
    padding-bottom: 100px;
}
.link-button{
    background-color: rgb(255, 67, 67);
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 12px;
    color: white;
}
.donate-now{
    text-align: center;
}
.container {
    display: flex;
    margin-right: 80px;
    margin-left: 80px;
}
.width {
    width: 12%;
    background-color: #FAFAFA;
    text-align: center;
    margin: 5px 10px;
    color: #929292;
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 40px;
}
.donate-plan{
    margin-top: 180px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    margin-top: 100px;

}
#donate-item1{
    width: 80%;
    margin-left: 15%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 8px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
#donate-item2{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
#donate-item3{
    width: 80%;
    margin-left: 5%;
    margin-right: 15%;
    padding: 20px;
    border-radius: 8px;
    background: rgba(53, 152, 163, 0.2);
    border-radius: 5px;
}
.half-width{
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;
}
.half-width img{
    width: 40vw;
    height: 40vh;
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
}
.email-option{
    text-align: center;
}
.email-form{
    border: 60px;
    background-color:#FFF4D6;
    display: flex;
    text-align: center;
}
footer{
    text-align: center;
    color: white;
    background-color:black;
    padding-bottom: 24px;
}
#be-humble{
    font-style: italic;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    color: red;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    padding-top: 15px;
}