body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 45px;
}
.top-banner{
    color: white;
    padding-top: 274px;
    padding-bottom: 175px;
    padding-left: 357px;
    padding-right: 357px;
    background-image: url(images/donation14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 900;
    margin: 0px;
    text-align: center;
}
#top-2{
    padding-bottom: 100px;
}
.link-button{
    background-color: rgb(255, 67, 67);
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 12px;
    color: white;
}
.donate-now{
    text-align: center;
}
.container {
    display: flex;
    margin-right: 80px;
    margin-left: 80px;
}
.width {
    width: 12%;
    background-color: #FAFAFA;
    text-align: center;
    margin: 5px 10px;
    color: #929292;
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 40px;
}